/*==================================================
=            Flexslider Carousel Styling & Brand uploads            =
==================================================*/

/*----------  Upload new Brand  ----------*/



#brandUploader.dropzone {
    min-height: 150px;
    border: 1px solid $border !important;
    background: white;
    padding: 20px 20px;
    margin-bottom: 30px;
    background: url(../../public/img/icons/upload-image.svg) no-repeat;
    background-size: 60px;
    background-position: center 30px;
    position: relative;

    .dz-message {
    	margin-top: 70px;
    }
}

.divBrand {
	width: 32.9%;
	height: 150px;
	border: 1px solid $border;
	display: inline-block;
	position: relative;
}

a.deletebrand {
	display: inline-block;
	width: 33.333%;
	color: $primary;
	font-weight: 700;
	position: absolute;
	bottom: 0;
	right: 5px;
	margin: 10px auto;

	img {
		width: 15px;
		margin-right: 5px;
	}
}

/*----------  View The slider  ----------*/

ul.slides {
	margin-left: -5%;
}

.slides li {
	border: 1px solid $border;
	height: 120px;

	img {
		display: block;
		margin: 0 auto;
		padding: 10px 0;
	}
}

.flex-direction-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	*height: 0;

	a {
		text-decoration: none;
		display: block;
		width: 40px;
		height: 40px;
		margin: -20px 0 0;
		position: absolute;
		top: 50%;
		z-index: 10;
		overflow: hidden;
		opacity: 0;
		cursor: pointer;
		color: rgba(0, 0, 0, 0.8);
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	}
}

/*=====  End of Bootstrap Carousel Styling  ======*/
