/*======================================
=            Footer Styling            =
======================================*/

.socket-color {
	background: $body;
	color: white;
	font-weight: 700;
	font-size: 14px;
	margin-top: 5%;
	padding: 4% 2%;
	
	@include breakpoint(tablet){
		padding: 2%;
	}

	p {
		font-size: 14px;
	}
}

a.contact {
	background: url("/img/icons/envelope.svg") no-repeat;
	background-size: 25px;
	color: white;
	padding-left: 35px;
	float: right;
}
/*=====  End of Footer Styling  ======*/
