/*======================================
=            Footer Styling            =
======================================*/

.socket-color {
	background: $body;
	color: white;
	padding: 2%;
	font-weight: 700;
	font-size: 16px;
	margin-top: 5%;
}

a.contact {
	background: url(../../public/img/icons/envelope.svg) no-repeat;
	background-size: contain;
	color: white;
	padding-left: 35px;
	float: right;
}
/*=====  End of Footer Styling  ======*/
