/*=========================================
=            Forms and Buttons            =
=========================================*/

/*----------  Inputs  ----------*/

label {
	font-family: $body-font;
	font-weight: 700;
	font-size: 18px;
}

.form-control {
	height: 35px;
	margin-bottom: 20px;
	@include well;
	@include breakpoint(tablet){
		margin-bottom: 20px;
		height: 50px;
	}
}

.input-sm {
	height: 35px;
}

/*----------  Buttons  ----------*/
.btn-primary {
	@include btn;
	background: $primary-button;
	border: 2px solid $button-hover;

	&:hover, &:focus, &:active{
		background: $button-hover;
		border: 2px solid $button-hover;
	}
}

.btn {
	@include btn;
	background: $primary;
	border: 2px solid $primary-dark;
	color: white;	

	&:hover, &:focus, &:active {
		background: $primary-dark;
		border: 2px solid $primary-dark;
		color: white;
	}
}

.btn-row {
	display: inline-block;
	margin-bottom: 30px;
	
	:first-child {
			margin-left: 0;
		}
	button {
		margin: 0 10px;
	}
}

.btn-sm {
	@extend .btn-primary;
	height: 35px;
	line-height: 0;
}

/*=====  End of Forms and Buttons  ======*/
