/*================================================
=            Styling for page Headers            =
================================================*/

//Globals 
.main-title {
    background: $primary;
    margin-bottom: 4%;
	padding: 2.5%;
}

/*----------  Navigation  ----------*/

nav.navbar {
	margin-bottom: 0;
}

.navbar-nav {
	float: right;
}

.navbar-default{
	background: white;
	border: 1px solid $border;
}

#logo_img {
	max-height: 50px;
	margin: 0 auto;
}

.navbar-brand {
	float: left;
	height: auto;
	padding: 10px 0;
}

button.navbar-collapse, 
.nav-links {
	float: right;
}

ul.nav {
	padding-top: 1%;
}

.navbar-form {
	padding: 0;

	.form-control, 
	.form-group {
		width: 100%;
	}
	input {
		margin-bottom: 0;
	}
}

a.search {
	float: right;
    position: absolute;
    top: 20px;
    right: 10%;
}

.navbar-default .navbar-nav > li > a {
	text-transform: none;
	font-family: $body-font;
	font-weight: 600;
	color: $body;
	font-size: 16px;
}


/*----------  Individual page headers  ----------*/


// Search page

.search-header {
	background: linear-gradient(rgba(74, 75, 75, 0.5), rgba(74, 75, 75, 0.5)), url(/public/img/headers/search-bg.jpg) no-repeat;
	@include background;
	background-position: center 60%;
}

// Login Page

.login-header {
	background: linear-gradient(rgba(74, 75, 75, 0.5), rgba(74,75, 75, 0.5 )), url(/public/img/headers/login-bg.jpg) no-repeat;
	@include background;
}

// Register Header

.register-header {
	background: linear-gradient(rgba(74, 75, 75, 0.5), rgba(74,75, 75, 0.5 )), url(/public/img/headers/signup-bg.jpg) no-repeat;
	@include background;
}

// contact header 

.contact-header {
	background: linear-gradient(rgba(74, 75, 75, 0.5), rgba(74, 75, 75, 0.5)), url(/public/img/headers/contact-bg.jpg) no-repeat;
	@include background;
}


// Item detail page
.item-header {
	text-align: left;

	.container, .auth-check {
		padding-right: 0;
	}

}


/*=====  End of Styling for page Headers  ======*/
