/*================================================
=            Styling for page Headers            =
================================================*/

//Globals 
.main-title {
    background: $primary;
    margin-bottom: 4%;
	padding: 2.5%;
}

// Search page

.search-header {
	background: linear-gradient(rgba(74, 75, 75, 0.5), rgba(74, 75, 75, 0.5)), url(../../public/img/headers/search-bg.jpg) no-repeat;
	@include background;
	background-position: center 60%;
}

// Login Page

.login-header {
	background: linear-gradient(rgba(74, 75, 75, 0.5), rgba(74,75, 75, 0.5 )), url(/img/headers/login-bg.jpg) no-repeat;
	@include background;
}

// Register Header

.register-header {
	background: linear-gradient(rgba(74, 75, 75, 0.5), rgba(74,75, 75, 0.5 )), url(/img/headers/signup-bg.jpg) no-repeat;
	@include background;
}

// contact header 

.contact-header {
	background: linear-gradient(rgba(74, 75, 75, 0.5), rgba(74, 75, 75, 0.5)), url(/img/headers/contact-bg.jpg) no-repeat;
	@include background;
}


// Item detail page
.item-header {
	text-align: left;

	.container, .auth-check {
		padding-right: 0;
	}

}


/*=====  End of Styling for page Headers  ======*/
