/*================================================
=            Styling for page Headers            =
================================================*/

//Globals 
.main-title {
    background: $primary;
    margin-bottom: 4%;
}

// Search page

.search-header {
	background: linear-gradient(rgba(74, 75, 75, 0.5), rgba(74, 75, 75, 0.5)), url(../../public/img/headers/search-bg.png) no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 2.5%;
}

// Login Page

.login-header {
	background: linear-gradient(rgba(74, 75, 75, 0.5), rgba(74,75, 75, 0.5 )), url(../../public/img/headers/login-bg.png) no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 2.5%;
}







/*=====  End of Styling for page Headers  ======*/
