/*======================================
=            Rating Styings            =
======================================*/

/*----------  Search page rating  ----------*/

.star-rating {
	height: 25px;
	margin-top: 10px;
}

/*----------  Item Detail Rating  ----------*/

.star-detail {
	text-align: center;
	margin-top: 10px;
	img {
		height: 20px;
	}
}

/*----------  Submit rating  ----------*/
.rate-this {
	text-align: center;
	margin-top: 30px;

	.each-star {
		background: url(../../public/img/icons/stars-unrated.svg) no-repeat;
		background-size: cover;
		width: 35px;
		height: 35px;
		display: inline-block;
		margin: 0 2px;
	}
}

/*=====  End of Rating Styings  ======*/
