/*======================================
=            Search Results            =
======================================*/

/*----------  Hide Sidebar on mobile  ----------*/

.sidebar-section {
	display: none;
	@include breakpoint(tablet){
		display: block;
	}
}

/*----------  Hide Second Keyword search on mobile  ----------*/

.keyword-search {
	display: none;
	@include breakpoint(tablet){
		display: block;
	}
}


/*----------  Spinning Load  ----------*/

.loadProgress{
    background: rgba(242,242,242,0.5) url('../../public/img/spinner.gif') no-repeat;
    z-index: 999;
    background-size: 45px;
    background-position: center 120px;
}



/*----------  Search Feed  ----------*/

.item-thumb {
	width: 50px;
	height: 50px;
	border: 1px solid $primary;
	border-radius: 50%;
	margin: 0 auto;

	@include breakpoint(tablet){
		width: 80px;
		height: 80px;
	}

}

.search-row {
	padding: 10px 0;
	border-bottom: 1px solid $border;
	@include breakpoint(tablet){
		padding: 20px 0;
	}

	a {
		font-family: $body-font;
		font-weight: 700;
		color: $body;
		font-size: 18px;
		margin-right: 12px;
		margin-bottom: 10px;
		
		@include breakpoint(tablet){
			margin-bottom: 0;
		}
	}

	p {
		margin-top: 15px;
	}

	.brand {
		color: $primary;
		font-weight: 600;
		border: 1px solid $primary;
		border-radius: 3px;
		text-align: center;
		padding: 2px 5px;
		display: inline-block;
		width: auto;
		margin-top: 3px;
	}

	a.goto-item {
		color: $primary-button;
		background: url('../../public/img/icons/go-icon.svg') no-repeat;
		font-size: 14px;
		background-position: right;
		background-size: contain;
		padding-right: 30px;
	}
}

.search-details { 
	padding: 0;

	p {
		color: $placeholder;
		font-size: 14px;
		font-weight: 600;
		float: left;
		margin-right: 10px;
	}
}

/*----------  Sort By  ----------*/


.sort-menu {
	width: 100%;
	border-bottom: 2px solid $primary;
	padding: 0;
	padding-bottom: 5px;
	margin-bottom: 15px;

	.btn.btn-sm {
		margin: 0;
		height: 34px;
	}
}


/*----------  Keyword Search  ----------*/

.keyword-search{
	border-bottom: 1px solid $border;
	padding-bottom: 15px;

	.form-control {
		margin-bottom: 15px;
	}
	
	.btn {
		margin-top: 0;
	}
} 


a.search-tips {
	font-weight: 600;
	background: url(../../public/img/icons/search-tip.svg) no-repeat;
	padding: 2px 0;
	padding-left: 30px;
	background-size: 20px;
	display: block;
	margin-bottom: 10px;
}

/*=====  End of Search Results  ======*/

/*===================================
=            Detail Page            =
===================================*/

.product-img {
	width: 300px;
	height: 300px;
}

/*=====  End of Detail Page  ======*/
