/*======================================================
=            Typography for the entire site            =
======================================================*/

/*----------  Headers  ----------*/

h1, h2, h3 {
	font-family: $display;
}

h4, h5, h6 {
	font-family: $body-font;
	color: $body;
}



/*=====  End of Typography for the entire site  ======*/
